<div id="footer">
    <footer class="row">
        <div class="logo large-5 columns">

        </div><!-- div class='logo large-5 columns' -->
        <div class="latest-news large-5 columns">

        </div><!-- div class='latest-news large-5 columns' -->
        <div class="contact large-5 columns">

        </div><!-- div class='contact large-5 columns' -->
        <div class="social large-5 columns">

        </div><!-- div class='social large-5 columns' -->
    </footer><!-- footer class='row' -->
    <div class="copyright row">
        <p class="text-center">         </p><!-- p class='text-center' -->
    </div><!-- div class='copyright row' -->
</div><!-- div id='footer' -->