<div id="header">
    <div class="logo-wrapper navbar-wrapper row">
        <div class="logo-crop large-3 columns">
            <img src="{{ STATIC_URL }}images/logo.png" alt="" />
        </div><!-- div class='logo-crop large-6 columns' -->
        <nav class="large-14 columns">
            <ul class="navbar no-bullet">
                <li class="navbar-item" data-href="#">Gastroprocto</li><!-- li class='navbar-item' -->
                <li class="navbar-item" data-href="#">Convênios</li><!-- li class='navbar-item' -->
                <li class="navbar-item" data-href="#">Serviços</li><!-- li class='navbar-item' -->
                <li class="navbar-item" data-href="#">Educação continuada</li><!-- li class='navbar-item' -->
                <li class="navbar-item" data-href="#">Novidades</li><!-- li class='navbar-item' -->
                <li class="navbar-item" data-href="#">Fale conosco</li><!-- li class='navbar-item' -->
                <li class="navbar-item" data-href="#">Links</li><!-- li class='navbar-item' -->
            </ul><!-- ul class='navbar' -->
        </nav><!-- nav class='navbar large-14 columns' -->
    </div><!-- div class='logo-wrapper navbar-wrapper row' -->
</div><!-- div id='header' -->