<div id="menu">
    <ul class="nav no-bullet">
        <li>
            <a href="#" class="active">Home</a>
        </li>
        <li>
            <a href="#">Servidores privados <i class="chevron icon-chevron-right"></i></a>
        </li>
        <li>
            <a href="#">Servidor original <i class="chevron icon-chevron-right"></i></a>
        </li>
        <li>
            <a href="#">Bots <i class="chevron icon-chevron-right"></i></a>
        </li>
        <li>
            <a href="#">Como comprar <i class="chevron icon-chevron-right"></i></a>
        </li>
        <li>
            <a href="#">Contas <i class="chevron icon-chevron-right"></i></a>
        </li>
        <li>
            <a href="#">Confirmar pagamento <i class="chevron icon-chevron-right"></i></a>
        </li>
        <li>
            <a href="#">Depoimentos <i class="chevron icon-chevron-right"></i></a>
        </li>
        <li>
            <a href="http://www.flygames.com.br/" target="_blank">Outros jogos <i class="chevron icon-chevron-right"></i></a>
        </li>
    </ul>
</div>
