{% extends 'base.html' %}

{% load thumbnail %}

{% block header %}
    {% include "partials/header.html" %}
{% endblock %}

{% block menu %}
    {% include "partials/menu.html" %}
{% endblock %}

{% block container %}
    <div id="hero">
        <div class="carousel">
            <div class="carousel-item">
                <img src="{{ STATIC_URL }}images/banner/0.jpg" alt="" />
            </div><!-- div class='carousel-item' -->
        </div><!-- div class='carousel' -->
    </div><!-- div id='hero' -->
    
    <div id="main">
        <div class="row">
            <div class="column">
                <section class="gastroprocto">
                    <div class="gastroprocto__wrapper large-18 large-centered column">
                        <div class="gastroprocto__title">
                            <h1>Apresentação</h1>
                        </div><!-- div.gastroprocto__title -->
                        <div class="gastroprocto__content">
                            <p>
                                A Gastroprocto como empresa foi concebida desde o ano de 2000 no Rio Grande do Norte com uma proposta de Clínica voltada a assistência especializada às Doenças do Aparelho Digestivo, envolvendo as áreas de Gastroenterologia, Coloproctologia, Cirurgia Geral e Vídeo-laparoscopia e serviços de Motilidade Digestiva. Em 2006, consolidou-se como um Hospital-Dia especializado nestas áreas médicas.
                            </p>
                            <p>
                                O Gastroprocto Hospital-Dia constitui-se em uma unidade hospitalar desvinculada de um Hospital geral, oferecendo toda a infra-estrutura necessária para a realização de procedimentos que requerem assistência intermediária entre a internação e o atendimento ambulatorial, ou seja, voltado para aqueles procedimentos considerados de baixa e média complexidade com menor tempo de internação, evitando gastos desnecessários tanto ao cliente como ao plano de saúde, e o que é mais importante diminui consideravelmente o risco de infecção hospitalar.
                            </p>
                            <p>
                                Já para os profissionais que atuam na área cirúrgica, o Gastroprocto Hospital-Dia representa um ambiente que propicia melhores condições de trabalho, o cirurgião perde menos tempo em esperas e burocracias, podendo usá-lo melhor para atender seu paciente.
                            </p>
                            <p>
                                A missão do Gastroprocto Hospital Dia para com seus clientes é oferecer-lhes serviços médicos precisos, com conforto, qualidade e atendimento personalizado.
                            </p>
                        </div><!-- div.gastroprocto__content -->
                    </div><!-- div.gastroprocto__wrapper large-18 large-centered column-->
                </section><!-- section class='info-top' -->
            </div><!-- div.large-10 -->
        </div><!-- div.row -->
        <section class="services">
            <header class="services__header header row">
                <h1 class="services__header-title header__title">Serviços</h1><!-- h1.services__header-title header__title -->
                <h3 class="services__header-subtitle header__subtitle">Confira aqui nossas áreas de atuação e serviços que oferecemos</h3><!-- h3.services__header-subtitle header__subtitle -->
            </header><!-- header.services__header header row -->
            <article class="services__wrapper row">
                <ul class="services__list large-block-grid-3">
                    <li class="service__item">
                        <div class="service__crop">
                            <img src="http://placehold.it/200x200" alt="" />
                        </div><!-- div.service__crop -->
                        <header class="service__header">
                            <h5 class="service__header-title">
                                Unidade de motilidade digestiva
                            </h5><!-- h5.service__header-title -->
                        </header><!-- header.service__header -->
                    </li><!-- li.service__item -->
                    <li class="service__item">
                        <div class="service__crop">
                            <img src="http://placehold.it/200x200" alt="" />
                        </div><!-- div.service__crop -->
                        <header class="service__header">
                            <h5 class="service__header-title">
                                Unidade de motilidade digestiva
                            </h5><!-- h5.service__header-title -->
                        </header><!-- header.service__header -->
                    </li><!-- li.service__item -->
                    <li class="service__item">
                        <div class="service__crop">
                            <img src="http://placehold.it/200x200" alt="" />
                        </div><!-- div.service__crop -->
                        <header class="service__header">
                            <h5 class="service__header-title">
                                Unidade de motilidade digestiva
                            </h5><!-- h5.service__header-title -->
                        </header><!-- header.service__header -->
                    </li><!-- li.service__item -->
                    <li class="service__item">
                        <div class="service__crop">
                            <img src="http://placehold.it/200x200" alt="" />
                        </div><!-- div.service__crop -->
                        <header class="service__header">
                            <h5 class="service__header-title">
                                Unidade de motilidade digestiva
                            </h5><!-- h5.service__header-title -->
                        </header><!-- header.service__header -->
                    </li><!-- li.service__item -->
                    <li class="service__item">
                        <div class="service__crop">
                            <img src="http://placehold.it/200x200" alt="" />
                        </div><!-- div.service__crop -->
                        <header class="service__header">
                            <h5 class="service__header-title">
                                Unidade de motilidade digestiva
                            </h5><!-- h5.service__header-title -->
                        </header><!-- header.service__header -->
                    </li><!-- li.service__item -->
                    <li class="service__item">
                        <div class="service__crop">
                            <img src="http://placehold.it/200x200" alt="" />
                        </div><!-- div.service__crop -->
                        <header class="service__header">
                            <h5 class="service__header-title">
                                Unidade de motilidade digestiva
                            </h5><!-- h5.service__header-title -->
                        </header><!-- header.service__header -->
                    </li><!-- li.service__item -->
                </ul><!-- ul.services__list large-block-grid-3 -->
            </article><!-- article.services__wrapper row -->
        </section><!-- section class='services' -->
        <section class="insurance">
            <header class="insurance__header header row">
                <h1 class="insurance__header-title header__title">
                    Convênios
                </h1><!-- h1.insurance__header-title header__title -->
            </header><!-- header.insurance__header header row -->
            <div class="insurance__wrapper row">
                <div class="insurance__carousel">
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/agf.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/ambep.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/amil.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/assefaz.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/bluelife.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/camed.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/cassi.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/conab.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/embratel.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/fassincra.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/fusex.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/gama.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/hapivida.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/inmed.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/medial.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/mediservice.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/norclinicas.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/pame.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/petrobras.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/saudecaixa.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/sulamerica.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                    <div class="insurance__carousel-item">
                        <div class="insurance__crop">
                            <img src="{{ STATIC_URL }}images/convenios/unibanco.gif" alt="" />
                        </div><!-- div.insurance__crop -->
                    </div><!-- div class='carousel-item' -->
                </div><!-- div class='carousel' -->
            </div><!-- div.insurance__wrapper -->
        </section><!-- section class='insurance' -->
        <section class="staff">

        </section><!-- section class='staff' -->
    </div><!-- div id='main' -->
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}