{% extends 'base.html' %}

{% load thumbnail %}

{% block header %}
    {% include "partials/header.html" %}
{% endblock %}

{% block menu %}
    {% include "partials/menu.html" %}
{% endblock %}

{% block container %}
    <div id="hero">
        <div class="carousel">
            <div class="carousel-item">
                <img src="{{ STATIC_URL }}images/banner/0.jpg" alt="" />
            </div><!-- div class='carousel-item' -->
        </div><!-- div class='carousel' -->
    </div><!-- div id='hero' -->

    <div id="main">
        <section class="info-top-wrapper row">
            <div class="info-top">

            </div><!-- div class='info-top' -->
        </section><!-- section class='info-top' -->
        <section class="links">

        </section><!-- section class='links' -->
        <section class="tips">

        </section><!-- section class='tips' -->
        <section class="staff">

        </section><!-- section class='staff' -->
    </div><!-- div id='main' -->
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}